<section class="mt-100">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="page-header row">
        <h3 class="page-title col-md-12 col-sm-12">
          <span class="page-title-icon bg-primary text-white mr-2">
            <i class="mdi mdi-map-outline"></i>
          </span>
          Cartographie des installations électriques
        </h3>
      </div>
      <br />
      <div class="row">
        <div class="col-md-10 col-sm-12">
          <div id="map"></div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
      </div>
    </div>
  </div>
</section>
