<section class="mt-100">
  <div class="container">
    <div class="col-lg-12 col-md-12">
      <div class="page-header row">
        <h3 class="page-title col-md-12 col-sm-12">
          <span class="page-title-icon text-primary mr-2">
            <i class="mdi mdi-map-outline"></i>
          </span>
          Cartographie des installations électriques
        </h3>
      </div>
      <br />
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div id="map"></div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div
            class="sidebar sticky-bar rounded shadow"
            style="border: 2px solid lightgrey"
          >
            <form
              [formGroup]="filterFormGroup"
              class="bg-white px-3 py-2 border rounded-md"
            >
              <div class="mb-3">
                <label class="form-label">Region</label>
                <div>
                  <ng-select
                    [items]="regions"
                    bindValue="id"
                    bindLabel="name"
                    [searchable]="true"
                    [clearable]="true"
                    placeholder="Selectionnez une region"
                    class="w-100"
                    formControlName="region"
                    [searchFn]="customSearchFn"
                    required
                  >
                  </ng-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Prefecture</label>
                <div>
                  <ng-select
                    [items]="filteredPrefectures"
                    bindValue="id"
                    bindLabel="name"
                    [searchable]="true"
                    [clearable]="true"
                    placeholder="Selectionnez une prefecture"
                    class="w-100"
                    formControlName="prefecture"
                    [searchFn]="customSearchFn"
                    required
                  >
                  </ng-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Sous prefecture</label>
                <div>
                  <ng-select
                    [items]="filteredSousPrefectures"
                    bindValue="id"
                    bindLabel="name"
                    [searchable]="true"
                    [clearable]="true"
                    placeholder="Selectionnez une sous prefecture"
                    class="w-100"
                    formControlName="sousPrefecture"
                    [searchFn]="customSearchFn"
                    required
                  >
                  </ng-select>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Zone geographique</label>
                <div>
                  <ng-select
                    [items]="filteredQuartiers"
                    bindValue="id"
                    bindLabel="name"
                    [searchable]="true"
                    [clearable]="true"
                    placeholder="Selectionnez une zone"
                    class="w-100"
                    formControlName="zone"
                    [searchFn]="customSearchFn"
                    required
                  >
                  </ng-select>
                </div>
              </div>
              <div class="mb-2">
                <div class="w-100">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      checked
                      value=""
                      id="flexCheckDefault1"
                    />
                    <label class="form-check-label" for="flexCheckDefault1"
                      >Zone électrifiée?</label
                    >
                  </div>
                </div>
              </div>
              <button
                id="filter"
                class="col-md-12 mt-3 mb-3 btn btn btn-outline-primary"
                (click)="clearInputs()"
              >
                Vider les champs
              </button>

              <button
                id="btn"
                class="col-md-12 col-sm-12 btn btn btn-outline-primary"
                (click)="filter()"
              >
                Filtrer
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="zoneModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter une donnée électrique</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Région</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedRegion"
              name="region"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Préfecture</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedPrefecture"
              name="prefecture"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Sous-préfecture</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="selectedSousPrefecture"
              name="sousPrefecture"
              readonly
            />
          </div>
          <div class="form-group">
            <div class="w-100">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="electrificationStatus"
                  id="flexCheckDefault1"
                  name="electrificationStatus"
                />
                <label class="form-check-label" for="flexCheckDefault1"
                  >Zone électrifiée?</label
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="saveData()">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>
